<%= form_with(model: [:admin, @facility_manager]) do |form| %>
  <div class="form-group">
    <%= form.label :facility_ids, 'Assign Facilities' %>
    <%= form.collection_check_boxes :facility_ids, Facility.all, :id, :name do |b| %>
      <div class="form-check">
        <%= b.check_box class: 'form-check-input' %>
        <%= b.label class: 'form-check-label' %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit 'Update Assignments' %>
  </div>
<% end %>
